mj-section(background-color="#ffffff" padding="20px")
    mj-column(width="450px")
        mj-text(align="center" padding="0" mj-class="T+2-300 cT+1") Exemples d'entreprises accueillant nos étudiants en apprentissage
mj-section(background-color="#ffffff" padding="0px 60px 40px 60px") 
    mj-group(width="50%")
        each logo in logosList1
            mj-column(width="33.333333%" padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/
    mj-group(width="50%")
        each logo in logosList2
            mj-column(width="33.333333%" padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/
    mj-group(width="50%")
        each logo in logosList3
            mj-column(width="33.333333%" padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/
    mj-group(width="50%")
        each logo in logosList4
            mj-column(width="33.333333%" padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/
    